@use './variables.scss' as *;
@use './reset.scss';
@use './mixins.scss' as *;

// 全局样式
#app {
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  color: $text-primary;
}

// Element Plus 主题覆盖
.el-button--primary {
  --el-button-bg-color: #{$primary-color};
  --el-button-border-color: #{$primary-color};
  --el-button-hover-bg-color: #{$primary-light};
  --el-button-hover-border-color: #{$primary-light};
  --el-button-active-bg-color: #{$primary-dark};
  --el-button-active-border-color: #{$primary-dark};
}

.el-input {
  --el-input-bg-color: #{$bg-tertiary};
  --el-input-border-color: transparent;
  --el-input-text-color: #{$text-primary};
  --el-input-placeholder-color: #{$text-tertiary};
  --el-input-focus-border-color: #{$primary-color};
}

.el-dialog {
  --el-dialog-bg-color: #{$bg-secondary};
  --el-dialog-title-font-size: 18px;
  border-radius: $border-radius-lg;
}

.el-message {
  --el-message-bg-color: #{$bg-tertiary};
  --el-message-text-color: #{$text-primary};
}

// 通用类
.page-container {
  padding: 24px 32px;
  @include custom-scrollbar;
}

.page-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
